/* 
#0d7a96;
#4c5c68;
#46494c;
#c5c3c6;
#dcdcdd;
*/

* {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #dddddd;
    color: #46494c;
}

a {
    color: #0d7a96;
    text-decoration: none;
}

a:hover {
    color: #4c5c68;
}

.container {
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/landing.jpg");
    background-position-x: -512px;
    background-position-y: -256px;
    height: 512px;
    color: white;
    text-shadow: 1px 1px #333;
}


@media screen and (min-width: 600px) {
    .landing {
        background-position-x: -256px;
    }
}

@media screen and (min-width: 750px) {
    .landing {
        background-position-x: 0px;
    }
}

@media screen and (min-width: 1920px) {
    .landing {
        background-size: cover;
        background-position-y: 35%;
    }
}

.landing-overlay {
    position: absolute;
    width: 100%;
    height: 512px;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.5;
}

.landing-title {
    z-index: 1;
    font-size: 64px;
    margin: 0 20px;
}

.landing-desc {
    z-index: 1;
    margin: 0 20px;
}


.card-img {
    width: 100%;
    height: auto;
    min-height: 1px;
    max-width: 512px;
    margin: 0 auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media screen and (min-width: 900px) and (max-width: 1920px) {
    .row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    width: 512px;
    min-height: 256px;
    border-top: 4px solid #0d7a96;
    -webkit-box-shadow: 0px 0px 3px 3px #0003;
            box-shadow: 0px 0px 3px 3px #0003;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
}

.full {
    width: 100%;
}

.card-body {
    margin-bottom: 6px;
}

.card-header {
    font-size: 24px;
    margin: 0;
}

.card-subheader {
    font-size: 16px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #0d7a96;
    margin-top: auto;
}

.card-bold {
    font-size: 18px;
}

hr {
    border: 2px solid #0003;
    width: 90%;
}

.large-icon {
    font-size: 32px;
}

.inline {
    display: inline-block;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    justify-content: space-around;
}

.footer-item {
    margin: 4px;
}